.root {
  :global {
    .ant-row {
      flex-direction: column;
    }

    .ant-form-item-label {
      padding-bottom: 0.375rem;

      label {
        height: auto !important;
        font-weight: 500;
      }
    }
  }
}
