.ant-form-vertical {
  .ant-form-item-label {
    padding-bottom: 0.375rem;

    label {
      height: auto !important;
      font-weight: 500;
    }
  }
}

.ant-form-item-explain {
  padding: 0 1px;
  font-size: 13px !important;
}
