.root {
  &.unread:after {
    content: '';
    position: absolute;
    left: 0.625rem;
    top: 1.5rem;
    height: 0.375rem;
    width: 0.375rem;
    border-radius: 50%;
    background: var(--color-primary);
  }
}
