@mixin marginLeft($value) {
  margin-left: #{$value}px;
  transition: margin-left 0.2s;
}

.layout-container {
  &--collapsed {
    @include marginLeft(48);
  }

  &--expanded {
    @include marginLeft(280);
  }

  &__content {
    min-height: 100vh;
  }

  &__compose-email {
    position: fixed;
    right: 4rem;
    bottom: 1rem;
  }
}
